@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@import "remixicon/fonts/remixicon.css";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: "Poppins", sans-serif;
}

/* Hapus efek dark mode hanya untuk teks */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    /* Tetap gunakan teks hitam di mode gelap */
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: #171717; /* pastikan teks selalu hitam */
  font-family: var(--font-poppins);
}
